//screen sizes
$mobile-large: 512px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;

//colors
$black: #000000;
$white: #ffffff;
$blue: #007bff;
$blue-200: #134b87;
$light-blue: #17a2b8;
$light-blue-200: #0a808f;
$light-gray: #f8f9fa;
$light-gray-200: #c3c8cd;
$dark-gray: #343a40;
$blue-gray-100: #f1f5f9;
$blue-gray-200: #e2e8f0;
$blue-gray-300: #cbd5e1;
$blue-gray-400: #94a3b8;
$blue-gray-500: #64748b;
$blue-gray-600: #475569;
$blue-gray-800: #1e293b;
$cool-gray-50: #f9fafb;
$cool-gray-150: #e5e7eb;
$cool-gray-300: #d1d5db;
$cool-gray-900: #111827;
$primary-50: #f5f3ff;
$emerald-100: #d1fae5;
$emerald-500: #10b981;
$emerald-800: #065f46;
$red-400: #dc3545;
$orange-200: #fde68a;
$orange-500: #fbbf24;
$orange-600: #d97706;
$gray-500: #6c757d;
$neutral-500: #6b7280;
$pink: #de4daa;

$gradient-blue: linear-gradient(90deg, $blue 0%, $blue-200 100%);
$gradient-light-blue: linear-gradient(90deg, $light-blue 0%, $light-blue-200 100%);
$gradient-light-gary: linear-gradient(90deg, $light-gray 0%, $light-gray-200 100%);
$gradient-dark-gary: linear-gradient(90deg, $dark-gray 0%, $black 100%);
$gradient-gray: linear-gradient(90deg, $blue-gray-500 0%, $blue-gray-800 100%);
$gradient-emerald: linear-gradient(90deg, $emerald-500 0%, $emerald-800 100%);
$gradient-red: linear-gradient(90deg, #ef4444 0%, #991b1b 100%);
$gradient-orange: linear-gradient(90deg, $orange-200 0%, $orange-500 100%);
$gradient-orange-text: linear-gradient(90deg, $orange-500 0%, $orange-600 100%);

$header-radius: 0.375rem;
